.card {
    background: white;
    width: 320px;
    padding: 35px 25px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card h2 {
    color: #333;
    margin-bottom: 12px;
    font-size: 28px;
}

.card p {
    color: #777;
    font-size: 14px;
    margin-bottom: 25px;
}

.card input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 7px;
    outline: none;
}


.card button {
    width: 100%;
    padding: 12px;
    background: #667eea;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}



